@font-face {
    font-family: 'abhaya_libreregular';
    src: url('../static/fonts/AbhayaLibre-Regular-webfont.eot');
    src: url('../static/fonts/AbhayaLibre-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/AbhayaLibre-Regular-webfont.woff2') format('woff2'),
         url('../static/fonts/AbhayaLibre-Regular-webfont.woff') format('woff'),
         url('../static/fonts/AbhayaLibre-Regular-webfont.ttf') format('truetype'),
         url('../static/fonts/AbhayaLibre-Regular-webfont.svg#abhaya_libreregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abel_regular';
    src: url('../static/fonts/abel_regular-webfont.eot');
    src: url('../static/fonts/abel_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/abel_regular-webfont.woff2') format('woff2'),
         url('../static/fonts/abel_regular-webfont.woff') format('woff'),
         url('../static/fonts/abel_regular-webfont.ttf') format('truetype'),
         url('../static/fonts/abel_regular-webfont.svg#abel_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('../static/img/blue_gray_background.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page {
    width: 900px;
    margin: auto;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lulu_logo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#lulu_logo img {
    /*width: 99px;*/
    /*height: 100px;*/
    margin-right: 10px; /* Ajoute de l'espace entre l'image et le texte */
}

#lulu_logo h1 {
    margin: 0; /* Retire les marges par défaut */
}

#title h2 {
    margin: 0; /* Retire les marges par défaut */
}

section h1, footer h1, nav a {
    font-family: 'abel_regular', serif;
    font-weight: normal;
    text-transform: uppercase;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background: url('../static/img/blue_separator.png') repeat-x bottom;
    border-radius: 10px;
}

header h1 {
    font-family: 'abhaya_libreregular', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2 {
    font-family: 'abel_regular', serif;
    font-size: 1.1em;
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #9c9c9c;
    border-bottom: 3px solid #9c9c9c;
}

footer {
    background: url('../static/img/blue_separator.png') repeat-x top;
    margin: 20px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    position: relative; /* Pour permettre à #scroll_up d'être positionné par rapport au footer */
}

#scroll_up {
    position: absolute; /* Positionne l'élément par rapport au footer */
    right: 2%; /* Utilisation de % pour s'adapter à la taille de la fenêtre */
    bottom: 5%; /* Ajuste avec la taille de la fenêtre */
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#scroll_up:hover {
    opacity: 1;
}

#scroll_up img {
    max-width: 40px;
}

footer h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Layout principal */
main {
    display: flex;
    justify-content: space-between;
}

main section {
    flex: 3;
    margin-right: 20px;
}

section {
    /*display: flex;*/
    margin-bottom: 20px;
}

main aside {
    display: flex;
    background-color: #706b64;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Menu scroll */
#menu_scroll {
    position: fixed;
    background: url('../static/img/blue_gray_background.png') center;
    background-size: cover;
    text-align: right;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: solid black;
    right: 0;
    bottom: 0;
    width: 155px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    padding-right: 10px;
    opacity: 0.5;
    font-size: 0.9em;
}

#menu_scroll li {
    list-style-type: none;
}

#banniere_image {
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../static/img/banner_league_of_legends.jpg') no-repeat;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 25px;
}

#banner_description {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24, 24, 24, 0.6);
    color: white;
    font-size: 0.8em;
}

#banner_description p {
    margin: 10px;
}

.button_red {
    height: 20px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    background: url('../static/img/red_gradient_background.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0;
    color: white;
    text-decoration: none;
}

.button_red img {
    border: 0;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #22558c;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
}

textarea {
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
    color: #b6178e;
}

a:hover {
    color: rgb(18, 208, 135);
}

.underline {
    text-decoration: underline;
}

#lists_roles {
    margin-top: 20px;
}

#lists_roles ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#lists_roles li {
    width: 100%;
    text-align: center;
}

#lists_roles a {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: #0b0c0d;
}

#lists_roles a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

caption {
    margin-bottom: 10px;
    text-align: left;
}

th, td {
    font-size: 0.9em;
    border: 1px solid #ccc;
    padding: 8px;
    font-weight: bold;
}

footer li:before {
    content: "→ ";
    color: #fff;
}

/* Alignement des images */
aside img {
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

aside img:hover {
    transform: scale(1.2);
}

aside a {
    color: inherit;
    text-decoration: none;
}

aside a:hover {
    color: inherit;
    text-decoration: none;
}

#photo_lulu {
    text-align: center;
    margin-top: -50px;
}

#photo_lulu img {
    border: 1px solid #181818;
}

#right_section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    /*margin: 20px;*/
}

#my_friends, #my_photos {
    margin-bottom: 3px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Ajoute une transition douce */
}

#my_friends, #my_photos img:hover {
    transform: scale(1.2); /* Agrandit l'image de 10% */
}
#friends_list {
    display: flex;
    justify-content: space-between;
}

#friends_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1 1 45%;
}

#friends_list li {
    margin-bottom: 10px;
    white-space: nowrap;
}

#my_photos img {
    max-width: 48%;
    height: auto;
    border-radius: 10px;
    margin: 2px;
}

#bubble_arrow {
    position: relative;
    top: 40px;
}

#p1, #p2 {
    line-height: 0.1em;
}

@media all and (max-width: 1024px) {
    #bloc_page {
        width: auto;
    }
}

@media all and (max-width: 1024px) {
    #banniere_image {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    main {
        flex-direction: column;
    }

    main section {
        margin-right: 0;
    }

    main aside {
        margin-top: 20px; /* Espace entre section et aside */
    }
}

@media all and (max-width: 1024px) {
    nav {
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding-left: 4px;
    }

    nav a {
        font-size: 1.1em;
    }

    nav a:hover {
        border-bottom: 0;
    }
}

@media all and (max-width: 1280px) {
    #menu_scroll {
        margin-left: 100px;
        margin-bottom: 10px;
        padding: 0;
        padding-right: 5px;
        padding-bottom: 15px;
        width: 98%;
        bottom: 0;
        height: 50px;
        background: url('../static/img/blue_gray_background.png') center;
        opacity: 0.4;
        background-size: cover;
        text-align: right;
        border-radius: 5px;
    }

    #menu_scroll ul a:hover {
        text-decoration: underline;
        color: red;
    }

    ul {
        font-size: 0.8em;
        font-weight: bold;
        filter: opacity(1);
    }
}

@media all and (max-width: 1024px) {
    section {
        flex-direction: column;
    }

    article,
    aside {
        width: auto;
        margin-bottom: 15px;
    }

    #bubble_arrow {
        display: none;
    }

    #photo_lulu img {
        width: 110px;
        float: right;
        margin-left: 15px;
    }

    aside p:last-child {
        text-align: center;
    }
}

/* Media query pour désactiver l'image de fond à max-width 1024px */
@media (max-width: 1024px) {
    footer {
        background: none;
    }
}
