// sass/layout/_banner-layout.scss
@import '../base/_variables.css';
@import '../utils/_mixins.scss';


.banner {
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../static/img/banner_league_of_legends.jpg') no-repeat;
    position: relative;
    margin-bottom: 25px;

    @include box-shadow-settings(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}
