// sass/layout/_footer.scss
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background: var(--header-background);
    border-radius: 10px;

    &__tweet, 
    &__my-friends, 
    &__my-photos {
        flex: 1; // Chaque bloc prendra un tiers de l'espace disponible
        margin: 10px;
        //min-width: 250px; // Fixe une largeur minimale pour éviter que les blocs soient trop petits
    }
}

.footer__tweet-text, 
.footer__tweet-info, 
.footer__tweet-contact {
    white-space: nowrap; /* Empêche le texte de se casser en plusieurs lignes */
    overflow: hidden; /* Cache tout texte qui dépasse la largeur du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) si le texte est trop long */
}
